body {
    padding: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

}

.heading {
    display: grid;
    grid-template-rows: repeat 1fr;
    font-size: larger
}

h1 {
    display: grid;
    align-items: flex-end;
    font-weight: bolder;
    font-size: xx-larger;
}

.middle {
    display: grid;
    grid-template-columns: 35% 30% 10%;
    /* object-fit: cover; */
    font-size: x-large;
    align-items: center;

}

del {
    font-size: 14px;
    color: #0706065b;
    font-weight: 400px;
}

.colorText{
    display: grid;
    justify-content: flex-end;
    font-size: xx-large;
}

.text {
    display: grid;
    grid-auto-columns: auto;
    align-items: center;

}


.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

}

button {
    font-size: larger;

    background-color: #074607;
    color: #ffffff;
    height: 60px;
    width: 180px;
}