@font-face {
    font-family: Tesla;
    src: url(Fonts/TESLA.ttf);
}

body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.container {
    /* border: red solid; */
    width: 850px;
    height: 400px;
    /* margin-left: 120px;
margin-top: 80px; */
    display: flex;

}

.leftSide {
    /* display: flex; */
    /* border: green solid; */
    flex: 1 100%;
    background-color: #FFFF;
    padding-left: 15px;
}

#teslaLogo{
    font-family: Tesla;
    font-size: 18px;
    margin-top: 18px;

}

.auto{
    margin-top: 50px;
    margin-left: 18px;
}

.mainTitle{
    margin-left: 18px;
    margin-top: -10px;
}

.paragraph{
    margin-left: 18px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.nextPage{
    margin-left: 320px;
    margin-top: 90px;
    font-size: 12px;
    font-weight: bolder;

}


.rightSide {
    display: flex;
    /* border: blue solid; */



}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* border: solid yellow; */
    /* margin: auto; */
    width: 850px;
    height: 400px;
}