@font-face {
    font-family: Tesla;
    src: url(Fonts/TESLA.ttf);
}

body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.container {
    /* border: red solid; */
    width: 650px;
    height: 300px;
    /* margin-left: 120px;
margin-top: 80px; */
    display: flex;

}

.leftSide {
    /* display: flex; */
    /* border: green solid; */
    flex: 1 100%;
    background-color: #FFFF;
    padding-left: 15px;
}

#teslaLogo{
    font-family: Tesla;
    font-size: 10px;
    margin-top: 10px;
}


.rightSide {
    display: flex;
    /* border: blue solid; */



}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* border: solid yellow; */
    /* margin: auto; */
    width: 650px;
    height: 300px;
}