@font-face {
    font-family: Tesla;
    src: url(Fonts/TESLA.ttf);
}

body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.container {
    width: 850px;
    height: 400px;
    display: flex;

}

.leftSide {
    flex: 1 100%;
    background-color: #FFFF;
    padding-left: 15px;
}

#teslaLogo {
    font-family: Tesla;
    font-size: 18px;
    margin-top: 18px;
    position: relative;

}

.auto {
    margin-top: 50px;
    margin-left: 18px;
}

.mainTitle {
    margin-left: 18px;
    margin-top: -10px;
}

.paragraph {
    margin-left: 18px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.nextPage {
    margin-left: 290px;
    margin-top: 45px;
    font-size: 12px;
    font-weight: bolder;

}


.rightSide {
    display: flex;

}

#rightTeslaLogo {
    color: #635F5F;
    font-family: Tesla;
    font-size: larger;
    position: relative;
    margin-top: -370px;
    margin-left: 180px;


}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 850px;
    height: 400px;
}

.info2 {
    word-spacing: 40px;
    color: #DCDCDC;
    margin-top: 250px;

    display: flex;
    justify-content: center;
}

.bottomInfo {
    font-family: 'Roboto', sans-serif;
    word-spacing: 35px;
    color: #A0A0A0;
    position: relative;
    margin-top: -15px;
    margin-left: 70px;
    font-size: x-small;
    display: flex;
    justify-content: center;
}