body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: #EAEAF9;
}

.container {

    display: flex;
    height: 400px;
    width: 700px;
    border-radius: 4px;

}

.leftSide {
    background-color: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 15px;
    width: 130%;
    padding-left: 80px;

}

#logo {
    color: #503E9D;
    padding-top: 40px;
}

#start {
    color: #503E9D;
    padding-top: 15px;
}

#title {
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: -5px;

}

#email {
    width: 185px;
    padding-bottom: 5px;
    border-color: lightgray;
}

#password {
    width: 185px;
    padding-bottom: 5px;

}

#signUp {
    width: 193px;
    margin-top: 25px;
    background-color: #503E9D;
    color: #EDEBF5;
    border: 0px;
    padding: 4px;
    font-size: 12px;

}

#signIn {
    width: 193px;
    /* margin-top: 5px; */
    border-radius: 3px;
    border-color: #cacace;
    padding: 4px;
    color: #cacace;
    background-color: #FFFFFF;
    /* background-color: black; */
    font-size: 10px;
}

#GIcon {
    max-width: 5.5%;
    /* max-height: %; */
    margin-left: 30px;
    position: relative;
    top: 16px;
    left: 5px;
}

.BottomIcon {

    width: 187px;
    margin-top: 5px;
    position: relative;
    bottom: 12px;
}

.logIn{
    color: red;
    width: 187px;
    font-size: 12px;
    margin-left: 30px;
    position: relative;
    bottom: 20px;
}

.rightSide {
    /* display: flex; */
    background-color: #503E9D;
    border: solid #503E9D;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 15px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}