body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CF7598;

}

.container {
    height: 650px;
    width: 1000px;
}

.topNavbar {
    overflow: hidden;
    background-color: #8F60B0;
    border-bottom: #ddd solid;
}

.topNavbar a:hover {
    background-color: #ddd;
    color: black;
}

.topNavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNavbar a.active {
    background-color: #777777;
    color: #f2f2f2;
}

.card {
    display: flex;
    flex-basis: auto;
    background-color: #ffffff;
    padding-top: 10px;
}

.card1 {
    padding-right: 30px;
    padding-bottom: 20px;
    border: solid #4356e8;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-width: 1px;
}

.card2 {
    padding-right: 30px;
    margin-bottom: 20px;
    /* margin-left: 20px; */
    margin-top: 10px;
    border: solid #4356e8;
    border-width: 1px;
}

.CardMiddle {
    border: 0;
    box-shadow: 1px 1px 16px 1px #777777;
}

.card3 {
    padding-right: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 15px;
    border: solid #4356e8;
    border-width: 1px;
}

h3 {
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #7B85D1;
    font-family: 'Oswald', sans-serif;
}

p {
    display: flex;
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.nextPage {
    color: #7B85D1;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: -10px;
}

.fas {
    margin-left: 10px;
    margin-top: 5px;
    color: #7B85D1;
    font-size: 15px;
}

h5 {
    color: #7B85D1;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: -20px;
    height: 40px;
    padding-top: 30px;
    font-size: 13px;
}