.container{
    background-color: #323A25;
    color: #EFF2EB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding-left: 180px;
    padding-right: 180px;

}

.navLeft{
    display: grid;

}

.navLeft > h1 {
    display: grid;
    justify-content: left ;
    align-self: flex-start;
}

.navCenter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-self: center;
}

.navRight{
    display: grid;
    justify-content: center;
    align-self: center;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom{
    display: grid;
    grid-template-rows: repeat(2, 1fr);


}


.bottom > .pan{
    display: grid;
    align-self: center;
    font-size: 20px;


}

.bottom > .lorem{
    display: grid;

}

.bottom > .buyNow{
    display: grid; 

}

.watch{
    display: grid;

}