.container{
    background-color: #323A25;
    color: #EFF2EB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding-left: 180px;
    padding-right: 180px;

}


.navLeft > h1 {
    display: grid;
    justify-content: left ;
    align-self: flex-start;
}

.navCenter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
}


.navRight{
    display: grid;
    justify-content: left;
    align-self: center;
}

.footer{
    display: grid;
    grid-template-columns: 1.8fr 0.7fr;
    height: 500px;
}

.pan{
    display: grid;
    align-self: center;
    font-size: 40px;

}

.lorem{
    display: grid;
    padding-bottom: 30px;
    font-size: larger;
    align-items: center;

}

button{
    display: grid; 
    height: 40px;
    width: 130px;
    align-items: center;
    font-size: larger;
    
}

.watch{
    display: grid;
    grid-column: 2/3;
}