body {
    background-color: #ED836D;
    display: grid;
    justify-content: center;
}

.container {
    Height: 750px;
    width: 950px;
    background-color: #F4F8FD;
    /* display: grid; */
    margin-top: 50px;
}

.navBar {
    /* border: solid purple; */
    /* display: flex; */
    height: 65px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navLeft {
    margin-top: 10px;
}

.navLeft a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navRight {
    margin-left: 690px;
}

.signUp a {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    background-color: orange;
    border-radius: 10px;
    margin-top: -6px;
    display: flex;
    justify-content: center;
    padding: 4px 18px;
    margin-top: 7px;
    margin-left: 8px;
}

img {
    display: grflexid;
    grid-template-rows: auto;
    max-width: 100%;
    max-height: 100%;
    /* border: solid red; */
    /* margin-top: -340px; */
    /* border: solid; */
}

.centerBox {
    /* border: solid red; */
    background-color: gray;
    opacity: 0.7;
    width: 350px;
    height: 150px;
    justify-content: center;
    margin-top: -250px;
    margin-left: 290px;

}

h2 {
    color: white;
    display: grid;
    justify-content: center;

}

h4 {
    color: white;
    display: grid;
    justify-content: center;
    border: solid red;
}

.lowerCard{
    display: grid;
    /* gap: 24px; */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin-top: 120px;
}

.firstCard {
    display: grid;
    border: solid yellow;
    /* margin-top: 150px; */
    /* grid-area: next; */
    justify-content: center;
    align-self: center;
    grid-column-end: span 1;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-left: 190px;
}


.secondCard{
    display: grid;

    border: solid blue;
    /* margin-top: 150px; */
    /* grid-area: next; */
    justify-content: center;

    
    grid-column-end: span 1;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;

}
