.container{
    background-color: #323A25;
    color: #EFF2EB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: 2em;

}

.navLeft{
    display: grid;
    align-self: center;
    justify-content: center;

}

.navCenter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 1em; */
    align-self: center;
}

.navRight{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: center;
    align-self: center;

}
